body {
    background-color: #d1eafc;
}
img {
    width: 30%;
    height: 10%;
}

.menu {
    background-color: rgb(18, 18, 50);
    height: 35px;
    padding-top: 10px;

}

a {
    color: rgb(35, 35, 81);
    padding-right: 15px;
    padding-left: 10px;
}

.blok {
    background-color: white;
    padding: 17px 15px 20px 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 7px gray;
}

.zagolovok {
    color: rgb(35, 35, 81);
}
h4 {
    color: rgb(35, 35, 81);
}

#spisok {
    position: relative; left: -20px;
}


table, th {
    border: 1px solid rgb(194, 194, 194);
    text-align: left;
    padding: 7px;
    border-spacing: 0ch;
    border-collapse: collapse;
    width: 1420px;
}
th {
    font-weight: lighter;
    height: 20px;
}
.tabzag {
    font-weight: bolder;
    background-color: rgb(226, 226, 226);
}

.spisok1 {
    position: relative; left: -20px;
}

label {
    font-weight: bolder;
    margin-bottom: 10px;

}

input[type=text] {
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
}
select {
    width: 100%;
    height: 25px;
    margin-bottom: 20px;
}

#tip {
position: absolute;
right: 300px;
}
input[type=checkbox] {
    position: absolute;
    right: 300px;
    margin: 0%;   
}

#comment {
    height: 50px;
}

button {
    background-color: rgb(18, 18, 50);
    margin: 15px;
    height: 30px;
    width: 200px;
    color: white;
    border-radius: 5px;
    position: relative; left: -15px;
}

#footer{
        background-color: rgb(18, 18, 50);
    height: 40px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    color: white;
    
  
}